body {
  background-image: url(./assets/images/background_currency.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background: rgba(255, 255, 255, .5);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .5);
  padding: 50px;
  margin-top: 50px;
  border-radius: 3px;
  text-align: center;
}

label {
  font-weight: bold;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
}

#output {
  display: none;
  margin-top: 5px;
  background: rgba(212, 175, 55, .5);
  border: .5px solid black;
}

#photoCred {
  position: absolute;
  display: inline-block;
  bottom: 5px;
  font-size: 10px;
}